@using InstagramEmbedForDiscord.Controllers;
@model string[]
@{
    Layout = null;
    string contentUrl = Model[0];
    string thumbnailUrl = Model[1];
    string url = Model[2];
    bool isPhoto = ViewBag.IsPhoto;

    string postId = ViewBag.PostID;
    int order = ViewBag.Order ?? 1;

    var baseUrl = $"https://{Context.Request.Host}";


    if(contentUrl.Contains("rapidcdn"))
    {
        contentUrl = $"{baseUrl}/VerifySnapsaveLink?postid={postId}&order={order}&rapidsaveUrl={contentUrl}";
    }

    // int width = ViewBag.Width ?? 0;
    // int height = ViewBag.Height ?? 0;

    InstagramPostDetails? postDetails = ViewBag.PostDetails;

    List<InstagramMedia> files = ViewBag.Files ?? new List<InstagramMedia>();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if(isPhoto)
    {
        <meta property="og:image" content="@contentUrl" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="@contentUrl" />
    }
    else
    {
        <meta property="og:type" content="video.other" />
        <meta property="og:video" content="@contentUrl" />

        <meta property="og:video:secure_url" content="@contentUrl" />
        <meta property="og:video:type" content="video/mp4" />
        <meta name="twitter:player" content="@url" />
        <meta name="twitter:card" content="player" />
        
        @* Include thumbnail for apps like Signal that can't play videos *@
        @if(!string.IsNullOrEmpty(thumbnailUrl))
        {
            <meta property="og:image" content="@thumbnailUrl" />
            <meta name="twitter:image" content="@thumbnailUrl" />
        }

    }
    
     <meta property="og:site_name" content="InstagramEmbed" />
    <meta property="theme-color" content="#eb4034" />
    <meta property="og:title" content="@(postDetails?.Username != null ? "@" + postDetails.Username : "InstagramEmbed")" />
    <meta name="twitter:title" content="@(postDetails?.Username != null ? "@" + postDetails.Username : "InstagramEmbed")" />
    <meta property="twitter:site" content="@postDetails?.Username" />
    @if(postDetails?.Description != null)
    {
        <meta property="og:description" content="@postDetails.Description" />
        <meta name="twitter:description" content="@postDetails.Description" />
    }
    <link rel="canonical" href="@url" />
    <meta property="og:url" content="@url" />

    
    @if(postDetails!=null)
    {
         <link rel="alternate" type="application/json+oembed"
              href="@(baseUrl)/oembed?username=@postDetails.Username&desc=@(isPhoto?null:postDetails.Description)" /> 
@*         <link rel="alternate" type="application/activity+json"
              href="@(baseUrl)/activity?link=@Uri.EscapeDataString(contentUrl)&username=@postDetails.Username&avatar=@postDetails.Avatar&likes=@postDetails.Likes&postId=@postId&mediaType=@(isPhoto ? "image" : "video")"/>
 *@     }
  
    
    <title>@(postDetails?.Username != null ? "@" + postDetails.Username : "InstagramEmbed")</title>
</head>
<body class=" d-flex-column bg-dark text-light align-items-center justify-content-center">

    <div class="d-flex border-bottom border-secondary p-4 align-items-center justify-content-between shadow">
        <div>

        <div class="text-secondary">InstagramEmbed by <a href="https://github.com/Lainmode/InstagramEmbedForDiscord" target="_blank">Lainmode</a></div>
        <div class="text-secondary">Twitter <a href="https://twitter.com/realalita" target="_blank">@@realAlita</a></div>
        </div>

        <a target="_blank" href="https://www.buymeacoffee.com/alsauce"><img class="mb-2" style="height:2.5rem" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=alsauce&button_colour=954b89&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00" /></a>

</div>



    <div class="row g-5 align-items-center w-100 justify-content-center mx-auto  p-4">
        @foreach (var item in files)
        {
            var contentUrlForItem = $"{baseUrl}/VerifySnapsaveLink?postid={postId}&order={files.IndexOf(item)+1}&rapidsaveUrl={item.url}";
            <div class="col-12 col-md-6 col-lg-4">
            <div class="card-body my-auto shadow px-0 py-0 bg-dark text-light border border-secondary pb-3" style="height:fit-content;flex:0;border-radius:1rem">
                <div class="media-container w-100">
                    @if (item.type == "video")
                    {
                        <video class="post-media w-100" style="aspect-ratio:5/6; object-fit:cover;  border-top-left-radius: 1rem; border-top-right-radius:1rem;" controls>
                                <source src="@contentUrlForItem" type="video/mp4">
                Your browser does not support the video tag.
                        </video>
                    }
                    else
                    {
                            <img src="@contentUrlForItem" class="w-100" style="aspect-ratio:5/6; object-fit:cover;  border-top-left-radius: 1rem; border-top-right-radius:1rem;" />
                    }
                </div>
        <div class="content">
            <div class="d-flex flex-column p-3 pb-0 gap-2">
                <button class="btn btn-success"
                        onclick="window.location.href='@contentUrlForItem'">
                    Download
                </button>
                <button class="btn btn-primary"
                        onclick="window.location.href='@url'">
                    View Original Post
                </button>
            </div>
        </div>

    </div>
    </div>
    }
    </div>
</body>
</html>